body {
    background-image: url(fon.jpg);
}

div, input {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

#start {
    margin-top: 25%;
}

#start, #info {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 40%;
    border-radius: 15px;
    margin-bottom: 10px;
    font-size: 35px;
    background-color: #ffffffcc;
}

#square {
    margin-top: 23%;
}

#square, #numbers_floors {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 25px;
    width: 50%;
    border-radius: 15px;
    padding-left: 10px;
}

#enter {
    margin-top: 15px;
    position: relative;
    left: 38%;
    font-size: 25px;
    width: 25%;
    padding: 5px;
    border-radius: 25px;
}

#tape {
    margin-top: 5%;
}

#found_label {
    position: relative;
    left: 50%;
    transform: translate(-21.5%, 0);
    color: #fff;
    font-size: 40px;
}

#tape, #pile, #plate {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 30px;
    margin-bottom: 2px;
    border-radius: 15px;
    width: 38%;
}

#material_label {
    position: relative;
    left: 50%;
    transform: translate(-28%, 0);
    color: #fff;
    font-size: 40px;
}

#bar, #aerated_concrete_block, #ceramic_block, #brick, #racks {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 30px;
    margin-bottom: 2px;
    border-radius: 15px;
    width: 60%;
}

#roof_label {
    position: relative;
    left: 50%;
    transform: translate(-14%, 0);
    color: #fff;
    font-size: 40px;
}

#sheet_material {
    margin-top: 9%;
}

#sheet_material, #flexible_roof, #ceramic_roof {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 30px;
    margin-bottom: 2px;
    border-radius: 15px;
    width: 65%;
}

#found_summa {
    margin-top: 15%;
}

#found_summa, #material_summa, #roof_summa, #summa {
    color: #fff;
    margin-left: 10%;
    font-size: 35px;
}

#summa {
    margin-top: 10%;
}